:root {
    --TempestusGreen: rgb(17, 192, 17);
}

html,
body,
div,
li,
ul,
a {
    background-color: black;
    color: var(--TempestusGreen);
    font-family: 'Courier New', Courier, monospace;
    
}

button{
    background-color: black;
    border: 1px dashed var(--TempestusGreen);
    color: var(--TempestusGreen);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.grid-section {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "navbar navbar navbar"
        "handbook-area github-area stats-area"
        "footer footer footer";
    grid-gap: 0px;
}

.navbar {
    grid-area: navbar;
    height: fit-content;
}

.handbook-area {
    grid-area: handbook-area;
    height: fit-content;
}

.github-area {
    grid-area: github-area;
    height: fit-content;
}

.stats-area {
    grid-area: stats-area;
    height: fit-content;
}

.footer {
    grid-area: footer;
    height: fit-content;
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.stats-area{

}
.stats-area,
.handbook-area,
.github-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border:1px dashed green; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* align-items: center; */
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_link{
    padding: 10px;
    margin:10px;
    /* border: 1px dashed var(--TempestusGreen); */
}
.grid-section{
    height: fit-content;
}

.grid-section-wrapper{
    width: 70%;
    height: fit-content;
}

.body-wrapper{
    width:100%;
    height: fit-content;
    display:flex;
    justify-content: center;
}

.side-panel{
    width:15%;
    height: auto;
    padding:10px;
}

#side-panel-left{
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(17,192,81,1) 83%, rgba(69,255,0,1) 100%);
}

#side-panel-right{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,192,81,1) 83%, rgba(69,255,0,1) 100%);
}
html, body{
    height:auto;
}

p {
    font-size: 16px;
}