:root {
    --TempestusGreen: rgb(17, 192, 17);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size:16px;
}

html,
body,
div,
li,
ul,
a {
    background-color: black;
    color: var(--TempestusGreen);
    font-family: 'Courier New', Courier, monospace;
}

ul,
li,
p {
    font-size: 20px;
}

button {
    background-color: black;
    border: 1px dashed var(--TempestusGreen);
    color: var(--TempestusGreen);
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/* 
 * Grid 
 */

.body-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.grid-section-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    width: 70%;
}

.grid-section {
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0px;
    grid-template-areas: "navbar navbar navbar"
        "guard-class-area guard-regiment-area stats-area"
        "footer footer footer";
    grid-template-columns: 33% 33% 34%;
}

.navbar {
    grid-area: navbar;
}

.guard-class-area {
    grid-area: guard-class-area;
}

.guard-regiment-area {
    grid-area: guard-regiment-area;
}

.stats-area {
    grid-area: stats-area;
}

.footer {
    grid-area: footer;
}

/* 
 * Main content
 */

.navbar,
.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.stats-area,
.guard-class-area,
.guard-regiment-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_link {
    margin: 10px;
    padding: 10px;
}

#guard_class_img,
#guard_regiment_img {
    height: 400px;
}

#aquila_img {
    height: 100px;
}

/* 
 * Side Panels 
 */
.side-panel {
    width: 15%;
}

#side-panel-left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(17, 192, 81, 1) 83%, rgba(69, 255, 0, 1) 100%);
}

#side-panel-right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 192, 81, 1) 83%, rgba(69, 255, 0, 1) 100%);
}


.arrow {
    border: solid var(--TempestusGreen);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin-left:10px;
    margin-right:10px;
}

#text-class, #text-regiment{
    margin-top:17px;
}

.right {
    transform: rotate(0);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}