:root {
    --TempestusGreen: rgb(17, 192, 17);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html,
body,
div,
li,
ul,
a {
    background-color: black;
    color: var(--TempestusGreen);
    font-family: 'Courier New', Courier, monospace;
}

ul,
li,
p {
    font-size: 20px;
}

/* 
 * Grid
 */

.body-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.grid-section-wrapper {
    height: 100%;
    width: 70%;
}


.grid-section {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    grid-template-areas: "navbar navbar"
        "handbook-area github-area"
        "footer footer";
    grid-template-columns: 50% 50%;
    height: 100%;
}

.navbar {
    grid-area: navbar;
}

.handbook-area {
    grid-area: handbook-area;
}

.github-area {
    grid-area: github-area;
}

.footer {
    grid-area: footer;
}

/* 
 * Main content
 */

.navbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.handbook-area,
.github-area {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

/* 
 * Side Panels 
 */

.side-panel {
    width: 15%;
}

#side-panel-left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(17, 192, 81, 1) 83%, rgba(69, 255, 0, 1) 100%);
}

#side-panel-right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 192, 81, 1) 83%, rgba(69, 255, 0, 1) 100%);
}